<%- include('header'); -%>
    <div class="content">
        <h2>Contact Details</h2>
        <table>
            <tr>
                <td><b>Name</b></td>
                <td><p>: Akshay Garg</p></td>
            </tr>
            <tr>
                <td><b>Phone</b></td>
                <td><p>: 0585526607</p></td>
            </tr>
            <tr>
                <td><b>Email</b></td>
                <td><p>: akshaygarg6578@gmail.com</p></td>
            </tr>
            <tr>
                <td><b>Address</b></td>
                <td><p>: Dubai</p></td>
            </tr>
        </table>
    </div>
<%- include('footer'); -%>w