<%- include('header'); -%>
    <div class="login">
        <h2>
            <%= msg %>
        </h2>
        <h3>
            Not a member, click <a href="/register">Here</a> to Sign Up.
        </h3>
    </div>
<%- include('footer'); -%>