<%- include('header'); -%>
    <div class="content">
        <h2>
            Welcome <br> <%= username %>
        </h2>
        <p>
            Go through our catalogue...
        </p>
    </div>
<%- include('footer'); -%>