<%- include('header'); -%>
    <div class="content">
        <h1>Register to Webstore</h1>
        <form action="/api/register" method="POST">
            <table>
                <tr>
                    <td>Username: </td>
                    <td><input type="text" name="username" required></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="password" required></td>
                </tr>
                <tr>
                    <td>Society:</td>
                    <td><input type="text" name="society" id="society" required></td>
                </tr>
                <tr>
                    <td>Contact:</td>
                    <td><input type="text" name="contact" id="contact" required></td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td><input type="text" name="addres" id="addres" required></td>
                </tr>
                <tr>
                    <td>Zipcode:</td>
                    <td><input type="text" name="zipcode" id="zipcode" required></td>
                </tr>
                <tr>
                    <td>City:</td>
                    <td><input type="text" name="city" id="city" required></td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td><input type="text" name="phone" id="phone" required></td>
                </tr>
                <tr>
                    <td>FAX:</td>
                    <td><input type="text" name="fax" id="fax" required></td>
                </tr>
                <tr>
                    <td>Max-outstanding:</td>
                    <td><input type="text" name="max_outstanding" id="max_outstanding" required></td>
                </tr>
            </table>
            <button type="submit">Register</button><br>
        </form>
    </div>
<%- include('footer'); -%>